/* body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #ff008c 0%, rgb(211, 9, 225) 100%);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.card-container-menu div {
  border-radius: 20px;
  background-color: white;
  width: 220;
  height: 290;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  cursor: pointer;
}

.menu-container {
  /* border: 2px solid #000; */
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  /* width: 18vw;
  height: 300px; */
  /* background-color: #8f2727dd; */
  transition: all 0.6s;
}

.small-menu-container {
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.menu-container:hover {
  /* background-color: #ae92a9dd; */
  /* -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); */
  box-shadow: 9px 15px 26px -7px rgba(104, 41, 105, 0.85);
  -webkit-box-shadow: 9px 15px 26px -7px rgba(104, 41, 105, 0.85);
  -moz-box-shadow: 9px 15px 26px -7px rgba(104, 41, 105, 0.85);
}

/* .img-container {
  border-radius: 15px;
  overflow: hidden;
}

.img-category {
  border-radius: 30px;
  width: 100%;
  
  margin-right: 10;
  margin-left: 10;
  object-fit: contain;
  transition: all 0.9s;
}

/* .img-category:hover {
  filter: blur(5px);
} 

.menu-container:hover > .img-container > .img-category:hover {
  filter: blur(5px);
}
 */

/* .text-container {
  background: white;
  color: blue;
  transition: all 0.6s;
} */

.menu-container:hover > {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

/* .text-container:hover {
  z-index: 1;
  background-color: #ae92a9dd;  
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
} */

/*Product display add to cart button*/

.movil-btn-addCart {
  width: 65%;
  background-color: rgb(244, 114, 209);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  transition: all 0.6s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.movil-btn-addCart:hover {
  background-color: #3e353ddd;
}
.movil-btn-addCart:hover > .icon-cart {
  color: #fff;
  font-size: 1.5rem;
}
.movil-btn-addCart > div {
  /* color: #000;
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px; */
  transition: all 0.6s;
}

.movil-btn-addCart:hover > div {
  color: #fff;
  font-size: 21px;
  /* margin-left: 5px;
  margin-right: 5px; */
  transition: all 0.6s;
}

.btn-addCart {
  font-family: "Poppins-medium";
  width: 35%;
  background-color: rgb(244, 114, 209);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  transition: all 0.6s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn-addCart:hover {
  background-color: #3e353ddd;
}

.icon-cart {
  color: #000;
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.6s;
}
.btn-addCart:hover > .icon-cart {
  color: #fff;
  font-size: 1.5rem;
}
.btn-addCart > div {
  /* color: #000;
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px; */
  transition: all 0.6s;
}

.btn-addCart:hover > div {
  color: #fff;
  font-size: 21px;
  /* margin-left: 5px;
  margin-right: 5px; */
  transition: all 0.6s;
}

.icon-minusCircle {
  color: rgb(93, 89, 89);
  font-size: 2rem;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.6s;
}

.icon-minusCircle:hover {
  color: #000;
  font-size: 2.5rem;
  /* margin-left: 5px;
  margin-right: 5px;
  transition: all 0.6s; */
}

.icon-views {
  color: rgb(93, 89, 89);
  font-size: 1rem;
  margin-left: 5px;
  /* margin-right: 5px; */
  transition: all 0.6s;
}

.icon-views:hover {
  color: #000;
  font-size: 1.5rem;
  /* margin-left: 5px;
  margin-right: 5px;
  transition: all 0.6s; */
}

.icon-buy {
  color: rgb(93, 89, 89);
  font-size: 1rem;
  margin-left: 5px;
  /* margin-right: 5px; */
  transition: all 0.6s;
}

.icon-buy:hover {
  color: #000;
  font-size: 1.5rem;
  /* margin-left: 5px;
  margin-right: 5px;
  transition: all 0.6s; */
}
